<h3 class="h3">Report 01 : Packing progress by packed grade.</h3>
<hr>
<div class="row">
  <div class="col-md-12">
    <form class="clr-form clr-form-compact">
      <clr-select-container>
        <label>Crop </label>
        <select clrSelect id="crop" [(ngModel)]="selectedCrop" name="crop" (change)="onCropChange()">
          <option *ngFor="let item of crops" [value]="item.crop">{{ item.crop }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Type </label>
        <select clrSelect id="type" [(ngModel)]="selectedType" name="type" (change)="onTypeChange()">
          <option *ngFor="let item of types" [value]="item.type">{{ item.type }}</option>
        </select>
      </clr-select-container>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div style="display: block" *ngIf="chartData">
      <canvas baseChart [datasets]="chartData" [labels]="chartLabel" [options]="chartOptions" [legend]="chartLegend"
        [chartType]="chartType">
      </canvas>
    </div>
  </div>
</div>