<h3>Packed Stock Case NetKg</h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="clrForm">
      <clr-input-container>
        <label>Net Kg : </label>
        <input type="number" clrInput id="netKg" name="netKg" placeholder="netKg" [(ngModel)]="packedCaseNetKg.netKg"
          required>
      </clr-input-container>
      <button type="submit" class="btn btn-primary btn-sm" (click)="add()" *ngIf="addStatus">
        <clr-icon shape="plus"></clr-icon> Add
      </button>
      <button type="submit" class="btn btn-primary btn-sm" (click)="edit()" *ngIf="!addStatus">
        <clr-icon shape="note"></clr-icon> Save
      </button>
      <button type="reset" class="btn btn-secondary btn-sm">
        <clr-icon shape="refresh"></clr-icon> Reset
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table table-compact">
      <thead>
        <tr>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">net kg/case</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of packedCasesNetKg">
          <td style="vertical-align:middle;">{{ item.netKg }}</td>
          <td>
            <button type="button" class="btn btn-icon btn-default btn-sm" (click)="onSelected(item)" title="Edit">
                <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </button>
            <button type="button" class="btn btn-icon btn-default btn-sm" title="Delete" (click)="delete(item.id)">
                <clr-icon shape="trash" class="is-solid"></clr-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>