<h3 class="h3">Blending Plan</h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="clr-form clr-form-compact">
      <clr-select-container>
        <label>Crop</label>
        <select clrSelect id="crop" name="crop" [(ngModel)]="selectedCrop" required (change)="onCropChange()">
          <option *ngFor="let item of crops">{{ item.crop }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Type</label>
        <select clrSelect id="types" name="types" [(ngModel)]="selectedType" required (change)="onTypeChange()">
          <option *ngFor="let item of types">{{ item.type }}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>Crop size : </label>
        <input type="number" id="cropSize" clrInput name="cropSize" [(ngModel)]="cropSize" placeholder="Crop size"
          (change)="onCropSizeChange()" required>
      </clr-input-container>
      <button type="button" class="btn btn-primary btn-sm" (click)="showClassifyFilterPopup()">
        <clr-icon shape="filter-grid" class="is-solid"></clr-icon> classify filter
      </button>
      <button type="button" class="btn btn-primary btn-sm" (click)="showCustomerFilterPopup()">
        <clr-icon shape="filter-grid" class="is-solid"></clr-icon> packed grade filter
      </button>
    </form>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="tableFixHead">
          <table class="table" style="background-color:white;">
            <thead>
              <tr>
                <th style="background-color:mediumaquamarine;vertical-align: middle;">Grade</th>
                <th style="background-color:lightblue;vertical-align: middle;">[A]<br>Crop
                  <br>Throw</th>
                <th style="background-color:lightpink;vertical-align: middle;">[B]<br>Expected
                  <br>Volumn</th>
                <th style="background-color:lightsalmon;vertical-align: middle;">[C]<br>Actual
                  <br>Bought <br>Classify</th>
                <th style="background-color:lightgreen;vertical-align: middle;">[D]<br>Stock</th>
                <th style="background-color:lightgoldenrodyellow;vertical-align: middle;">
                  [E]<br>Expected <br>To Buy</th>
                <th style="background-color:lightyellow;vertical-align: middle;">
                  [F]<br>Total<br>Green<br>Balance</th>
                <th style="background-color:lightcyan;vertical-align: middle;">
                  [G]<br>Green<br>Input<br>Require</th>
                <ng-container *ngFor="let cusSpec of customerSpecs; let i = index">
                  <th *ngIf="cusSpec.show" style="vertical-align:middle;background-color:steelblue;color: white;">
                    <table class="table-compact">
                      <tr>
                        <td style="vertical-align: middle;color:seashell;">{{ cusSpec.customer }}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:seashell;">{{ cusSpec.packedGrade }}
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:yellow;">Order : {{ (cusSpec.orderCase *
                    cusSpec.netKg) | number: '1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:orange;">Packed : {{ (cusSpec.packedCases *
                    cusSpec.netKg) | number: '1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:lightgreen;">Remaining :
                          {{ (cusSpec.orderCase - cusSpec.packedCases) <= 0 ? 0 : ((cusSpec.orderCase - cusSpec.packedCases) * cusSpec.netKg) - (cusSpec.packedStockKg) | number: '1.0-0' }}
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:lightpink;">Packed stock :
                          {{ (cusSpec.packedStockKg) | number: '1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:lightgoldenrodyellow;">Green :
                          {{(cusSpec.orderCase - cusSpec.packedCases) <= 0 ? 0 : 
                      (((cusSpec.orderCase - cusSpec.packedCases) * cusSpec.netKg) - (cusSpec.packedStockKg)) / (cusSpec.manualYield / 100) | number: '1.0-0' }}
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;color:chartreuse;">Yield (Actual) : {{
                    cusSpec.actualYield | number: '1.0-1'}} </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;">Yield : <input
                            style="width: 50px;text-align: right;background-color:white;"
                            class="form-control form-control-sm" type="number" name="yield-{{i}}"
                            [(ngModel)]="cusSpec.manualYield" (change)="onYieldChange(cusSpec)"></td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;">Blend % : {{ cusSpec.accumulativeBlenPercent |
                  number: '1.0-1' }} <span *ngIf="cusSpec.accumulativeBlenPercent > 100"
                            style="color:yellow;">[Over!!]</span>
                        </td>
                      </tr>
                    </table>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let cusBlend of customerBlends">
                <tr *ngIf="cusBlend.show">
                  <td
                    style="background-color:mediumaquamarine;vertical-align: middle;font-weight: bold; text-align: left;">
                    {{ cusBlend.classify }}</td>
                  <td style="background-color:lightblue;vertical-align: middle;">
                    <input style="width: 50px; text-align: right;" type="number" class="form-control form-control-sm"
                      [(ngModel)]="cusBlend.cropThrow" (change)="onCropThrowChange()"></td>
                  <!-- [B] Expected volumn-->
                  <td style="background-color:lightpink;vertical-align: middle;text-align: right;">{{ (cusBlend.cropThrow /
            100) * cropSize | number: '1.0-0' }}</td>
                  <!-- [C] Actual bought classify-->
                  <td style="background-color:lightsalmon;vertical-align: middle;text-align: right;">{{ cusBlend.actualBought |
            number: '1.0-0' }}</td>
                  <!-- [D] Stock-->
                  <td style="background-color:lightgreen;vertical-align: middle;text-align: right;">{{ cusBlend.stock | number:
            '1.0-0' }}</td>
                  <!-- [E] Expected to buy-->
                  <td style="background-color:lightgoldenrodyellow;vertical-align: middle;text-align: right;">{{ cusBlend.actualBought > ((cusBlend.cropThrow/100) * cropSize) ? 0 :
            ((cusBlend.cropThrow/100) * cropSize) - cusBlend.actualBought | number: '1.0-0' }}</td>
                  <!-- [F] Total green balance-->
                  <td style="background-color:lightyellow;vertical-align: middle;text-align: right;">{{ (cusBlend.actualBought > (cusBlend.cropThrow/100) * cropSize ? cusBlend.stock :
            cusBlend.stock + (((cusBlend.cropThrow / 100) * cropSize) - cusBlend.actualBought)) | number: '1.0-0' }}
                  </td>
                  <!-- [G] Green input require-->
                  <td style="background-color:lightcyan;vertical-align: middle;text-align: right;">
                    <span style="color: green;"
                      *ngIf="((cusBlend.actualBought > (cusBlend.cropThrow/100) * cropSize ? cusBlend.stock :
                cusBlend.stock + ((cusBlend.cropThrow / 100) * cropSize - cusBlend.actualBought)) > cusBlend.accumulativeRemainningBlending)">
                      {{ cusBlend.accumulativeRemainningBlending | number: '1.0-0' }}
                    </span>
                    <span style="color: red;"
                      *ngIf="!((cusBlend.actualBought > (cusBlend.cropThrow / 100) * cropSize ? cusBlend.stock :
                  cusBlend.stock + ((cusBlend.cropThrow / 100) * cropSize - cusBlend.actualBought)) > cusBlend.accumulativeRemainningBlending)">
                      {{ cusBlend.accumulativeRemainningBlending | number: '1.0-0' }}
                    </span>
                  </td>
                  <ng-container *ngFor="let blend of cusBlend.blends; let i = index">
                    <td *ngIf="blend.show">
                      <input style="width: 50px;text-align: right;vertical-align: middle;"
                        class="form-control form-control-sm" type="number" name="blendPercent-{{i}}"
                        [(ngModel)]="blend.blendPercent"
                        (change)="onBlendPercentChange(blend.customer,blend.packedGrade)">
                      {{ (blend.blendPercent/100) * blend.green | number: '1.0-0' }}
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td style="background-color:mediumaquamarine;vertical-align: middle;font-weight: bold">
                </td>
                <td style="background-color:lightblue;vertical-align: middle;font-weight: bold">{{ accumulativeOfCropThrow |
            number: '1.0-0' }}%</td>
                <td style="background-color:lightpink;vertical-align: middle;text-align: right;font-weight: bold">{{
            accumulativeOfExpectedVolumn | number: '1.0-0' }}</td>
                <td style="background-color:lightsalmon;vertical-align: middle;text-align: right;font-weight: bold">{{
            accumulativeOfActualBought | number: '1.0-0' }}</td>
                <td style="background-color:lightgreen;vertical-align: middle;text-align: right;font-weight: bold">{{
            accumulativeOfGreenStock | number: '1.0-0' }}</td>
                <td
                  style="background-color:lightgoldenrodyellow;vertical-align: middle;text-align: right;font-weight: bold">{{
            accumulativeOfExpectedToBuy | number: '1.0-0' }}</td>
                <td style="background-color:lightyellow;vertical-align: middle;text-align: right;font-weight: bold">{{
            accumulativeOfF | number: '1.0-0' }}</td>
                <td style="background-color:lightcyan;vertical-align: middle;text-align: right;font-weight: bold">
                  <span style="color: green;" *ngIf="(accumulativeOfF - accumulativeOfGreenInputRemaining > 0)">{{
              accumulativeOfGreenInputRemaining | number: '1.0-0' }}
                  </span>
                  <span style="color: red;" *ngIf="!(accumulativeOfF - accumulativeOfGreenInputRemaining > 0)">{{
              accumulativeOfGreenInputRemaining | number: '1.0-0' }}
                  </span>
                </td>
                <ng-container *ngFor="let cusSpec of customerSpecs;">
                  <td *ngIf="cusSpec.show" style="background-color:aliceblue;font-weight: bold;">
                    <input type="number" style="width:50px;text-align: right;vertical-align: middle;"
                      class="form-control form-control-sm" [(ngModel)]="cusSpec.accumulativeBlenPercent" readonly> {{ cusSpec.accumulativeGreenEstimate | number:
            '1.0-0' }}
                  </td>
                </ng-container>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-sm" (click)="save()">
          <clr-icon shape="floppy"></clr-icon> Save
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="reloadPage()">
          <clr-icon shape="refresh"></clr-icon> Reset
        </button>
      </div>
    </div>
  </div>

</div>

<clr-modal class="modal" [(clrModalOpen)]="showCustomerSpecFilter">
  <div class="modal-title">Customer spec filter.</div>
  <div class="modal-body">
    <div>
      <button class="btn btn-primary btn-sm" (click)="showAllCustomerSpec()">show all</button>
      <button class="btn btn-primary btn-sm" (click)="hideAllCustomerSpec()">hide all</button>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customerSpecs; let i = index">
          <td><input type="checkbox" name="cusSpecCheckbox-{{i}}" [(ngModel)]="item.show" clrCheckbox
              (click)="showOrHideCustomerSpec(item)" /></td>
          <td>{{ item.customer }} : {{ item.packedGrade }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>

<clr-modal class="modal" [(clrModalOpen)]="showClassifyFilter">
  <div class="modal-title">classify grade filter.</div>
  <div class="modal-body">
    <div>
      <button class="btn btn-primary btn-sm" (click)="showAllCusBlend()">show all</button>
      <button class="btn btn-primary btn-sm" (click)="hideAllCusBlend()">hide all</button>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customerBlends; let i = index">
          <td><input type="checkbox" name="cusSpecCheckbox-{{i}}" [(ngModel)]="item.show" clrCheckbox
              (click)="showOrHideClassify(item)" /></td>
          <td>{{ item.classify }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>