<h3>Customer Order!</h3>
<hr>
<div class="row">
  <div class="col-md-12">
    <form class="clr-form clr-form-compact">
      <clr-select-container>
        <label>Crop </label>
        <select clrSelect id="crop" [(ngModel)]="selectedCrop" name="crop" (change)="onCropChange()">
          <option *ngFor="let item of crops" [value]="item.crop">{{ item.crop }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Type </label>
        <select clrSelect id="type" [(ngModel)]="selectedType" name="type" (change)="onTypeChange()">
          <option *ngFor="let item of types" [value]="item.type">{{ item.type }}</option>
        </select>
      </clr-select-container>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tableFixHead">
      <table class="table">
        <thead>
          <tr>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Customer</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Packed Grade</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">NetKg</th>
            <th colspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Order</th>
            <th colspan="3" style="vertical-align:middle;background-color:steelblue;color: white;">Packed To Date</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Yield</th>
            <th colspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Packed Stock</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Action</th>
          </tr>
          <tr>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Case</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Quantity</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Cases</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Lamina</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Green (Actual)</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Cases</th>
            <th style="vertical-align:middle;background-color:steelblue;color: white;">Kg's</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of customerSpecs; let i=index">
            <td style="vertical-align: middle; text-align: left;background-color: aliceblue;">{{ item.customer }}</td>
            <td style="vertical-align: middle; text-align: left;">{{ item.packedGrade }}</td>
            <td style="vertical-align: middle;background-color: aliceblue;">{{ item.netKg | number: '1.0-0' }}</td>
            <td style="vertical-align: middle; text-align: right;">{{ item.orderCase | number: '1.0-0' }}</td>
            <td style="vertical-align: middle; text-align: right;">{{ item.orderCase * item.netKg | number: '1.0-0' }}
            </td>
            <td style="vertical-align: middle; text-align: right;background-color: aliceblue;">
              {{ item.packedCases | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockCases | number: '1.0-0' }})</label></td>
            <td style="vertical-align: middle; text-align: right;background-color: aliceblue;">
              {{ item.packedCases * item.netKg | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockKg * 0.97 | number: '1.0-0' }})</label></td>
            <td style="vertical-align: middle; text-align: right;background-color: aliceblue;">
              {{ item.actualGreen | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockKg  | number: '1.0-0'}})</label></td>
            <td style="vertical-align: middle;">
              {{ item.packedCases * item.netKg / item.actualGreen * 100 | number: '1.0-1' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ (((item.packedCases * item.netKg) + (item.packedStockKg * 0.97)) / (item.actualGreen + item.packedStockKg)) * 100 | number: '1.0-1' }})</label>
            </td>
            <td style="vertical-align: middle; text-align: right;background-color: aliceblue;">
              {{ item.packedStockCases | number: '1.0-0' }}</td>
            <td style="vertical-align: middle;background-color: aliceblue;">{{ item.packedStockKg | number: '1.0-0' }}
            </td>
            <td style="vertical-align: middle;">
              <button type="button" class="btn btn-icon btn-default btn-sm" title="Add packed stock"
                (click)="onClickPackedStock(item)">
                <clr-icon shape="bundle" class="is-solid"></clr-icon>
              </button>
              <button type="button" class="btn btn-icon btn-default btn-sm" (click)="onEditSelected(item)" title="Edit">
                <clr-icon shape="pencil" class="is-solid"></clr-icon>
              </button>
              <button type="button" class="btn btn-icon btn-default btn-sm" title="Delete" (click)="delete(item)">
                <clr-icon shape="trash" class="is-solid"></clr-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary btn-sm" (click)="showAddForm()">
      <clr-icon shape="plus-circle" class="is-solid"></clr-icon> Add order
    </button>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showAddOrEditModal">
  <div class="modal-title">{{ addOrEditTitle }} customer spec</div>
  <div class="modal-body">
    <form class="clr-form clr-form-compact">
      <section class="form-block">
        <clr-select-container>
          <label>Crop</label>
          <select clrSelect id="crop" name="crop" [(ngModel)]="customerSpec.crop" disabled required>
            <option *ngFor="let item of crops">{{ item.crop }}</option>
          </select>
        </clr-select-container>

        <clr-select-container>
          <label>Type</label>
          <select clrSelect id="types" name="types" [(ngModel)]="customerSpec.type" disabled required>
            <option *ngFor="let item of types">{{ item.type }}</option>
          </select>
        </clr-select-container>

        <clr-select-container>
          <label>Customer</label>
          <select clrSelect id="customer" name="customer" [(ngModel)]="customerSpec.customer" required>
            <option>Please select customer</option>
            <option *ngFor="let item of customers">{{ item.code }}</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>PackedGrade</label>
          <input type="text" clrInput placeholder="packed Grade" name="packedGrade"
            [(ngModel)]="customerSpec.packedGrade" required />
        </clr-input-container>

        <clr-input-container>
          <label>Order Case</label>
          <input type="number" clrInput class="form-control" name="order Case" placeholder="orderCase"
            [(ngModel)]="customerSpec.orderCase" required>
        </clr-input-container>

        <clr-input-container>
          <label>Net Kg : </label>
          <input type="number" clrInput name="netKg" placeholder="net Kg" [(ngModel)]="customerSpec.netKg" required>
        </clr-input-container>

        <clr-input-container>
          <label>Yield (manual) : </label>
          <input type="number" clrInput name="manualYield" placeholder="yield (manual)"
            [(ngModel)]="customerSpec.manualYield" required>
        </clr-input-container>
      </section>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" type="button" (click)="add()" *ngIf="addStatus">Add</button>
    <button class="btn btn-primary" type="button" (click)="edit()" *ngIf="!addStatus">Edit</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showPackedStockModal">
  <div class="modal-title">Manage packed stock cases</div>
  <div class="modal-body">
    <form class="clr-form clr-form-compact">
      <section class="form-block">
        <clr-select-container>
          <label>net kg</label>
          <select clrSelect id="packedCasesNetKgID" name="packedCasesNetKgID"
            [(ngModel)]="packedStock.packedCasesNetKgID" required [disabled]="disableOnEditPackedStockStatus">
            <option value="0">Please select net kg</option>
            <option *ngFor="let item of packedCasesNetKgList" value="{{ item.id }}">{{ item.netKg }}</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>packed cases</label>
          <input type="number" clrInput class="form-control" name="packedCases" placeholder="packed cases"
            [(ngModel)]="packedStock.packedCases" required>
        </clr-input-container>

        <button class="btn btn-primary btn-sm" type="button" (click)="addPackedStock()"
          *ngIf="!disableOnEditPackedStockStatus">Add</button>
        <button class="btn btn-primary btn-sm" type="button" (click)="editPackedStock()"
          *ngIf="disableOnEditPackedStockStatus">Edit</button>

      </section>
    </form>
    {{ totalPackedStockCases | number }} cases. / {{ totalPackedStockKg | number }} kg.
    <table class="table table-compact">
      <thead>
        <tr>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">netKg/case</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">cases</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of packedStockList">
          <td style="vertical-align:middle;">{{ item.netKg }}</td>
          <td style="vertical-align:middle;">{{ item.packedCases }}</td>
          <td>
            <button type="button" class="btn btn-icon btn-default btn-sm" title="Edit"
              (click)="selectedForEditPackedStock(item)">
              <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </button>
            <button type="button" class="btn btn-icon btn-default btn-sm" title="Delete"
              (click)="deletePackedStock(item.id)">
              <clr-icon shape="trash" class="is-solid"></clr-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>