<div class="main-container">
  <header class="header header-5">
      <div class="branding">
          <a href="/" class="nav-link">
              <clr-icon shape="bundle" class="is-solid"></clr-icon>
              <span class="title">Blending Plan Report</span>
          </a>
      </div>
      <div class="header-nav">
          <a routerLink="./../user/packed-to-date" routerLinkActive="active" class="nav-link nav-text">Main</a>
      </div>
      <div class="header-actions">
          <a routerLink="./../login" routerLinkActive="active" class="nav-link nav-icon">
              Log off
          </a>
      </div>
  </header>
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="true">
          <a clrVerticalNavLink routerLink="./report01" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="flag"></clr-icon>
              <span style="font-size: smaller">R01 : Packing progress by packed grade.</span>
          </a>
          <a clrVerticalNavLink routerLink="./report02" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="flag"></clr-icon>
              <span style="font-size: smaller">R02 : Summary order by customers.</span>
          </a>
          <a clrVerticalNavLink routerLink="./report03" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="flag"></clr-icon>
              <span style="font-size: smaller">R03 : Comparison of yield by packed grade.</span>
          </a>
          <a clrVerticalNavLink routerLink="./report04" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="flag"></clr-icon>
              <span style="font-size: smaller">R04 : Stock on hand.</span>
          </a>
          <a clrVerticalNavLink routerLink="./report05" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="flag"></clr-icon>
              <span style="font-size: smaller">R05 : Packed progress.</span>
          </a>
      </clr-vertical-nav>
  </div>
</div>