<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Siam Tobacco Export Corporation (STEC)
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <!-- <div class="auth-source select">
                <select id="login-auth-source-1">
                    <option>Local Users</option>
                    <option>Administrator</option>
                </select>
            </div> -->
            <input class="username" type="text" [(ngModel)]="username" id="login_username" name="username" placeholder="Username">
            <input class="password" type="password" [(ngModel)]="password" id="login_password" name="password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <!-- <div class="error active">
                Invalid user name or password
            </div> -->
            <button type="submit" class="btn btn-primary" (click)="login()">NEXT</button>
            <!-- <a href="javascript://" class="signup">Sign up for a Company ID</a> -->
        </div>
    </form>
</div>