<h3 class="h3">Report 04 : Stock on hand.</h3>
<hr>

<div class="row">
  <div class="col-md-4">
    <form class="clr-form clr-form-compact">
      <clr-select-container>
        <label>Crop </label>
        <select clrSelect id="crop" [(ngModel)]="selectedCrop" name="crop" (change)="onCropChange()">
          <option *ngFor="let item of crops" [value]="item.crop">{{ item.crop }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Type </label>
        <select clrSelect id="type" [(ngModel)]="selectedType" name="type" (change)="onTypeChange()">
          <option *ngFor="let item of types" [value]="item.type">{{ item.type }}</option>
        </select>
      </clr-select-container>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <table class="table table-compact">
      <thead>
        <tr>
          <th style="background-color:steelblue;color: white;">classify</th>
          <th style="background-color:steelblue;color: white;">weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stockOnHands;">
          <td style="vertical-align: middle;text-align: left;">{{ item.classify }}</td>
          <td style="vertical-align: middle;text-align: right;">
            {{ item.weight | number: '1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-9">
    <div style="display: block" *ngIf="chartData">
      <canvas baseChart [datasets]="chartData" [labels]="chartLabel" [options]="chartOptions" [legend]="chartLegend"
        [chartType]="chartType">
      </canvas>
    </div>
  </div>
</div>