<!-- <div class="main-container">
    <header class="header header-5">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="bundle" class="is-solid"></clr-icon>
                <span class="title">Blending Project</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="#" class="nav-link nav-text">Home</a>
            <a href="#" class="nav-link nav-text">About</a>
            <a href="#" class="nav-link nav-text">Contact</a>
        </div>
        <div class="header-actions">
            <a routerLink="./login" routerLinkActive="active" class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<ng-http-loader spinner="sk-three-bounce"></ng-http-loader>
<router-outlet></router-outlet>