<div class="main-container">
  <header class="header header-5">
      <div class="branding">
          <a href="/" class="nav-link">
              <clr-icon shape="bundle" class="is-solid"></clr-icon>
              <span class="title">Blending Project</span>
          </a>
      </div>
      <div class="header-nav">
          <a routerLink="./packed-to-date" routerLinkActive="active" class="nav-link nav-text">Packed To Date</a>
          <a routerLink="./customer-spec" routerLinkActive="active" class="nav-link nav-text">Customer Spec</a>
          <a routerLink="./main" routerLinkActive="active" class="nav-link nav-text">Blending Plan</a>
          <a routerLink="./../reports/report01" routerLinkActive="active" class="nav-link nav-text">Report</a>
      </div>
      <div class="header-actions">
          <a routerLink="./../login" routerLinkActive="active" class="nav-link nav-icon">
            Log off
          </a>
      </div>
  </header>
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="true">
          <a clrVerticalNavLink routerLink="./packed-case-netkg" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="block" class="is-solid"></clr-icon>
              Packed cases NetKg.
          </a>
          <a clrVerticalNavLink routerLink="./crop-size" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="tasks" class="is-solid"></clr-icon>
              Crop Size
          </a>
      </clr-vertical-nav>
  </div>
</div>