<h3>Crop Size</h3>
<hr>
<div class="row">
  <div class="col-md-6">

    <clr-datagrid>
      <clr-dg-column [clrDgField]="'crop'" [clrDgSortBy]="cropSizeComparator">crop</clr-dg-column>
      <clr-dg-column>type</clr-dg-column>
      <clr-dg-column>crop size</clr-dg-column>
      <clr-dg-column></clr-dg-column>

      <clr-dg-row *clrDgItems="let item of cropSizes">
        <clr-dg-cell>{{item.crop}}</clr-dg-cell>
        <clr-dg-cell>{{item.type}}</clr-dg-cell>
        <clr-dg-cell>{{item.cropSize | number}}</clr-dg-cell>
        <clr-dg-cell><button type="button" class="btn btn-icon btn-default btn-sm" title="Edit"
            (click)="onSelectedForEdit(item)">
            <clr-icon shape="pencil" class="is-solid"></clr-icon>
          </button>
          <button type="button" class="btn btn-icon btn-default btn-sm" title="Delete" (click)="delete(item.id)">
            <clr-icon shape="trash" class="is-solid"></clr-icon>
          </button></clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Crop size per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} crop sizes
        </clr-dg-pagination>
      </clr-dg-footer>

    </clr-datagrid>

    <!-- <table class="table table-compact">
      <thead>
        <tr>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">crop</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">type</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;">crop size</th>
          <th style="vertical-align:middle;background-color:steelblue;color: white;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cropSizes">
          <td style="vertical-align:middle;">{{ item.crop }}</td>
          <td style="vertical-align:middle;">{{ item.type }}</td>
          <td style="vertical-align:middle; text-align: right;">{{ item.cropSize | number }}</td>
          <td>
            <button type="button" class="btn btn-icon btn-default btn-sm" title="Edit"
              (click)="onSelectedForEdit(item)">
              <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </button>
            <button type="button" class="btn btn-icon btn-default btn-sm" title="Delete" (click)="delete(item.id)">
              <clr-icon shape="trash" class="is-solid"></clr-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <button type="button" class="btn btn-primary btn-sm" (click)="onClickAdd()">
      <clr-icon shape="plus-circle" class="is-solid"></clr-icon> Add
    </button>

    <clr-modal [(clrModalOpen)]="showModal">
      <div class="modal-title">{{ addOrEditTitle }}</div>
      <div class="modal-body">
        <form class="clr-form clr-form-compact">
          <section class="form-block">
            <clr-select-container>
              <label>Crop</label>
              <select clrSelect id="crops" name="crops" [(ngModel)]="cropSize.crop" required
                [disabled]="disabledForEdit">
                <option>Please select crop</option>
                <option *ngFor="let item of crops">{{ item.crop }}</option>
              </select>
            </clr-select-container>
            <clr-select-container>
              <label>Type</label>
              <select clrSelect id="types" name="types" [(ngModel)]="cropSize.type" required
                [disabled]="disabledForEdit">
                <option>Please select type</option>
                <option *ngFor="let item of types">{{ item.type }}</option>
              </select>
            </clr-select-container>
            <clr-input-container>
              <label>Crop size</label>
              <input type="text" clrInput placeholder="crop size" name="cropSize" [(ngModel)]="cropSize.cropSize"
                required />
            </clr-input-container>
          </section>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="add()" *ngIf="!disabledForEdit">Add</button>
        <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="disabledForEdit">Edit</button>
      </div>
    </clr-modal>

  </div>
</div>