<h3>Packed to Date</h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <form class="clr-form clr-form-compact">
      <clr-select-container>
        <label>Crop </label>
        <select clrSelect id="crop" [(ngModel)]="selectedCrop" name="crop" (change)="showPackedToDate()">
          <option *ngFor="let item of crops" [value]="item.crop">{{ item.crop }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Type </label>
        <select clrSelect id="type" [(ngModel)]="selectedType" name="type" (change)="showPackedToDate()">
          <option *ngFor="let item of types" [value]="item.type">{{ item.type }}</option>
        </select>
      </clr-select-container>
      <!-- <button type="button" class="btn btn-primary btn-sm" (click)="showPackedToDate(defaultCrop,defaultType)">Show</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="refresh()">Reset</button> -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tableFixHead">
      <table class="table table-compact">
        <thead>
          <tr>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Customer</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Packed Grade</th>
            <th colspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Order</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Net <br> Kg's</th>
            <th colspan="3" style="vertical-align:middle;background-color:steelblue;color: white;">Packed To Date</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Yield <br> (Actual)</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Yield <br> (Manual)</th>
            <th colspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Packed Stock</th>
            <th colspan="3" style="vertical-align:middle;background-color:steelblue;color: white;">Remaining</th>
            <th rowspan="2" style="vertical-align:middle;background-color:steelblue;color: white;">Packed as %</th>
          </tr>
          <tr>
            <th style="background-color:steelblue;color: white;">Cases</th> <!-- Order -->
            <th style="background-color:steelblue;color: white;">Quantity</th> <!-- Order -->
            <th style="background-color:steelblue;color: white;">Cases</th> <!-- Packed to date -->
            <th style="background-color:steelblue;color: white;">Lamina</th> <!-- Packed to date -->
            <th style="background-color:steelblue;color: white;">Green</th> <!-- Packed to date -->
            <th style="background-color:steelblue;color: white;">Cases</th> <!-- Packed stock -->
            <th style="background-color:steelblue;color: white;">Kg's</th> <!-- Packed stock -->
            <th style="background-color:steelblue;color: white;">Cases</th> <!-- Remaining -->
            <th style="background-color:steelblue;color: white;">Lamina</th> <!-- Remaining -->
            <th style="background-color:steelblue;color: white;">Hours</th> <!-- Remaining -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of packedToDateList; let i=index">
            <td style="vertical-align: middle;text-align: left;background-color: aliceblue;">{{ item.customer }}</td>
            <td style="vertical-align: middle;text-align: left;">{{ item.packedGrade }}</td>
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.orderCase | number: '1.0-0' }}</td><!-- Order -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.orderCase * item.netKg | number: '1.0-0' }}</td><!-- Order -->
            <td style="vertical-align: middle;text-align: center;">{{ item.netKg | number: '1.0-1' }}</td>
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.packedCases | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockCases | number: '1.0-0' }})</label>
            </td><!-- Packed to date -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.packedCases * item.netKg | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockKg * 0.97 | number: '1.0-0' }})</label>
            </td><!-- Packed to date -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.actualGreen | number: '1.0-0' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ item.packedStockKg  | number: '1.0-0'}})</label>
            </td><!-- Packed to date -->
            <td style="vertical-align: middle;text-align: center;">
              {{ item.packedCases * item.netKg / item.actualGreen * 100 | number: '1.0-1' }}
              <label style="color:red;"
                *ngIf="item.packedStockCases">({{ ((item.packedCases * item.netKg) + (item.packedStockKg * 0.97)) / (item.actualGreen + item.packedStockKg) * 100 | number: '1.0-1' }})</label>
            </td><!-- Packed to date -->
            <td style="vertical-align: middle;text-align: center;background-color: aliceblue;">
              {{ item.manualYield | number: '1.0-1' }}
            <td style="vertical-align: middle;text-align: center;"> {{ item.packedStockCases | number: '1.0-0' }} </td>
            <!-- Packed stock -->
            <td style="vertical-align: middle;text-align: right;"> {{ item.packedStockKg | number: '1.0-0' }} </td>
            <!-- Packed stock -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ item.orderCase - item.packedCases | number: '1.0-0' }}</td><!-- Remaining -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ (item.orderCase * item.netKg) - (item.packedCases * item.netKg) | number: '1.0-0' }}</td>
            <!-- Remaining -->
            <td style="vertical-align: middle;text-align: right;background-color: aliceblue;">
              {{ (item.orderCase - item.packedCases) / item.casePerHour | number: '1.0-0' }}</td><!-- Remaining -->
            <td style="vertical-align: middle;text-align: center;">
              {{ item.packedCases / item.orderCase * 100 | number: '1.0-1' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>